body{
    background-color: grey;
}
#maindiv{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 25%;
    padding: 20px;
    color: white;
    text-align: center;
}
#Mydiv{
    font-size: 45px;
}
.mybutton{
    height:60px;
    width:150px;
    margin:2px;
    border:none;
    border-radius:3px;
    background: #56a79a;
    color:#fff;
    font-size:50px;
    cursor:pointer;
        
}
#Myinput{
    height: 58px;
    width: 100px;
    margin: 2px;
}
